<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.mapper.DiscussPostMapper">
    <sql id="AllRows">
        id,user_id,title,content,type,status,create_time,comment_count,score
    </sql>

    <select id="selectDiscussPostByUserId" resultType="com.nowcoder.community.pojo.DiscussPost">
        select <include refid="AllRows"></include>
        from discuss_post
        where status !=2
        <if test="userId !=0">
            and user_id=#{userId}
        </if>
        order by type desc,create_time desc
        limit #{start},#{limit}
    </select>

    <select id="getCountByUserId" resultType="java.lang.Integer">
        select count(*) from discuss_post where status !=2
        <if test="userId != 0">
            and user_id=#{userId}
        </if>
    </select>
</mapper>
